body {
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#page-container {
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
p {
    color: #000000;
}

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: Pixel Code, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #324673;
}
