body {
    /* background: linear-gradient(to right top, #0f2027, #2b4c57, #456c7c);  */
    background: #000000;
}

#page-container {
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding: 0;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6 {
    color: #A5FFC9;
    line-height: 36px;
}
p {
    color: #A5FFC9;
    line-height: 26px;
}

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: Ubuntu mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #ffffff;
}
