#page-container {
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}
p {
    color: #000000;
}
